//
//  VAG.release.prod.xcconfig
//  nas
//
//  Created by Carsten Knoblich on 23.06.20.
//  Copyright © 2020 letsbundle. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = de.letsbundle.vag.test

ASSETCATALOG_COMPILER_APPICON_NAME = AppIconProd

PRODUCT_NAME = Prod

ID_SUFFIX = .prod

// Note: host URLs are 'build' into Info.plist to be accessible within the app

API_HOST_URL = api.prod.stage.numo.modno.de
LOGIN_HOST_URL = sso.prod.stage.numo.modno.de
